body{background-image:url("https://qph.fs.quoracdn.net/main-qimg-fc2a5a17d5691d559a74f39f89c0a38c") ;
    background-size: cover;}
header{background-image:url("https://qph.fs.quoracdn.net/main-qimg-fc2a5a17d5691d559a74f39f89c0a38c") ;
background-size: cover;
width: 100%;}
#menu > li {display: inline-block;}
#estilo{position: absolute;
left: 0px;
right: 0px;
top:35px;}
h1{color: limegreen;}
h2{color: limegreen;}
#c1{background-color: white;
position: absolute;
left: 0px;
right: 0px;}